*.swp

# Database
local_db

# Local server configuration
local

# Eliom
.depend
_client
_deps
_server

# Mobile application
cordova

# Style
.sass-cache

# Stuff
.ocp-indent

# i18n
moab_i18n.eliom

static/css/moab.css.map
static/defaultcss/moab.css
