div.content-box
{
	background-color: lightgrey;
	box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.28);
	border-radius: 5px;
	overflow-y: auto;
}

div.content-box h1
{
	background-color: #25a;
	color: white;
	text-align: center;
	margin: 0;
	padding: 0;
}

tr.unknown-user
{
	background-color: lightpink;
}

.header-student
{
	background-color: #25a;
}

.header-admin
{
	background-color: darkred;
}

.header-examiner
{
	background-color: #2e5900;
}

table.dashboard-table td.dt-bad
{
	background-color: red;
}

table.dashboard-table td.dt-warning
{
	background-color: orange;
}

table.dashboard-table td.dt-good
{
	background-color: green;
}

table.schedule-table tr:nth-child(even)
{
	background-color: darkgray;
}

table.schedule-table tr:nth-child(even) td.available
{
	background-color: lightgreen;
	cursor: pointer;
}

table.schedule-table tr:nth-child(odd) td.available
{
	background-color: palegreen;
	cursor: pointer;
}

button.approve
{
	background-color: green;
	color: white;
}

button.disapprove
{
	background-color: red;
	color: white;
}

.os-drawer-item input.group-input
{ width: 50px;
}

table.unassigned-students-table
{
	margin-left: 20px;
}

table.unassigned-students-table tr:nth-child(even)
{
	background-color: darkgray;
}

.flex-container
{
	display: flex;
}

.flex-row
{
	flex-direction: row;
}

table.feedback-table th
{
	text-align: left;
}

table.feedback-table tr.grade-descriptions td
{
	font-size: small;
}

table.feedback-table tr.grades th
{
	text-align: center;
}

table.feedback-table .grade-button
{
	text-align: center;
	width: 50px;
}

table.feedback-table th.crit-description
{
	font-size: small;
	font-style: italic;
}

table.feedback-table td.grade-0
{
	background-color: red;
}

table.feedback-table td.grade-1
{
	background-color: orange;
}

table.feedback-table td.grade-2
{
	background-color: yellow;
}

table.feedback-table td.grade-3
{
	background-color: lightgreen;
}

table.feedback-table td.grade-4
{
	background-color: green;
}

table.feedback-table td.grade-5
{
	background-color: darkgreen;
}

.warning-paragraph
{
	border: solid darkred thin;
	background-color: red;
	color: white;
	margin-left: 10px;
	margin-right: 10px;
	padding: 5px;
}

table.peer-remarks tr:nth-child(even)
{
	background-color: darkgray;
}

table.tutor-marks th
{
	text-align: left;
	vertical-align: top;
}

tr.feedback-row td.good
{
	color: green;
}

tr.feedback-row td.bad
{
	color: red;
}

table.report-feedback th
{
	text-align: left;
	vertical-align: top;
}

table.grades-table tr:nth-child(even)
{
	background-color: lightgrey;
}
