div.content-box
{
	background-color: lightgrey;
	box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.28);
	border-radius: 5px;
	overflow-y: auto;
}

div.content-box h1
{
	background-color: #25a;
	color: white;
	text-align: center;
	margin: 0;
	padding: 0;
}

tr.unknown-user
{
	background-color: lightpink;
}

.header-student
{
	background-color: #25a;
}

.header-admin
{
	background-color: darkred;
}

.header-examiner
{
	background-color: #2e5900;
}

table.dashboard-table td.dt-bad
{
	background-color: red;
}

table.dashboard-table td.dt-warning
{
	background-color: orange;
}

table.dashboard-table td.dt-good
{
	background-color: green;
}
