*
{
    font-family: sans-serif;
}

div.layout
{
	position: absolute;
  margin: 0;
  padding: 0;
  border: solid 1px grey;
}

div#header
{
  width: 98%;
  height: 10%;
  left: 1%;
}

div#contents
{
  width: 98%;
  height: 70%;
  top: 15%;
  left: 1%;
  overflow-y: scroll;
	padding: 5px;
} 
  
div#footer 
{ 
  width: 98%;
  height: 10%;
  bottom: 1%;
  left: 1%;
} 

table#login_table
{
	width: 30%;
	top: 20%;
	margin-left: auto;
	margin-right: auto;
}

div#header h1
{
	float: left;
}

form#logout_form
{
	float: right;
	padding: 10px;
}
