*
{
    font-family: sans-serif;
}

div.layout
{
	position: absolute;
  margin: 0;
  padding: 0;
  border: solid 1px grey;
}

div#header
{
  width: 98%;
  height: 10%;
  left: 1%;
}

div#contents
{
  width: 98%;
  height: 70%;
  top: 15%;
  left: 1%;
  overflow-y: scroll;
	padding: 5px;
} 
  
div#footer 
{ 
  width: 98%;
  height: 10%;
  bottom: 1%;
  left: 1%;
} 

table#login_table
{
	width: 30%;
	top: 20%;
	margin-left: auto;
	margin-right: auto;
}

div#header h1
{
	float: left;
}

form#logout_form
{
	float: right;
	padding: 10px;
}

table.feedback_table th
{
	text-align: left;
}

table.feedback_table tr.grade_descriptions td
{
	font-size: small;
}

table.feedback_table tr.grades th
{
	text-align: center;
}

table.feedback_table tr .grade_button
{
	text-align: center;
	width: 50px;
}

table.feedback_table tr th.description
{
	font-size: small;
	font-style: italic;
}

table.feedback_table tr td.grade0
{
	background-color: red;
}

table.feedback_table tr td.grade1
{
	background-color: orangered;
}

table.feedback_table tr td.grade2
{
	background-color: orange;
}

table.feedback_table tr td.grade3
{
	background-color: lightgreen;
}

table.feedback_table tr td.grade4
{
	background-color: green;
}

table.feedback_table tr td.grade5
{
	background-color: darkgreen;
}

.error
{
	background-color: pink;
	color: red;
	border: solid 1px red;
} 

table.peer_comments th
{
	text-align: left;
	vertical-align: top;
	background-color: lightgray;
}

table.tutor_comments th
{
	text-align: left;
	vertical-align: top;
	background-color: lightgray;
}

table.report_table th
{
	text-align: left;
}
